:root {
    /* unauthorize color variables */
    --unauthorize-background: #ffffff;
    --unauthorize-code-colour: #4f46e5;
    --unauthorize-title-colour: #111827;
    --unauthorize-message-colour: #4b5563;
    /* header color variables */
    --header-background: #353232;
    --header-text-colour: #ffffff;
    --header-submenu-background: #ffffff;
    --header-submenu-text-colour: #000000;
    --header-submenu-hover-background: #e5e7eb;
}